@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  color: #fff;
  background-color: #1f1934;
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets
  .swiper-pagination-bullet {
  background-color: #f13024;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .animate-slide {
    @apply transition-transform duration-300 ease-in-out;
  }
}

@layer base {
  body {
    @apply leading-relaxed;
  }
  .page {
    @apply w-full md:max-w-6xl h-screen px-4 mx-auto md:pb-0 md:px-6;
  }
  .btn,
  .input {
    @apply h-[52px];
  }
  .input {
    @apply w-full h-[52px] rounded-lg pl-6;
  }
  .input,
  .textarea {
    @apply bg-transparent outline-none focus:border-0 focus:ring-1 focus:ring-secondary border border-white/20 placeholder:text-white/30 placeholder:font-light;
  }
  .textarea {
    @apply w-full h-[180px] p-6 rounded-lg resize-none;
  }
}
